AIRFLOW_UID=50000
FERNET_KEY=your_fernet_key_here
DB_HOST=postgres-data
DB_PORT=5432
DB_DATABASE=new_database
DB_USER=post
DB_PASSWORD=mypassword
AIRFLOW__API_AUTH__JWT_SECRET=changeme
TG_TOKEN=
TG_CHAT_ID=